.vscode/**
.vscode-test/**
node_modules/**
src/**
syntaxes/**
snippets/**
build-tools/**
.eslintrc.json
.prettierrc
tsconfig.json
esbuild.config.mjs
**/*.map
**/*.ts
.github/**
**/.DS_Store
**/Thumbs.db
**/*.log
.vsix
.vscodeignore
